[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bioCancer"]
	path = bioCancer
	url = https://github.com/kmezhoud/biocancer
[submodule "canceR"]
	path = canceR
	url = https://github.com/kmezhoud/cancer
